.version.coming_soon /* version checker */
{
	color: #0000E3;
	background-color: #43F081;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 749.6842274305541px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 145px;
	width: 0.01px;
}

#u2388-4
{
	z-index: 21;
	width: 707px;
	min-height: 61px;
	background-color: transparent;
	line-height: 52px;
	text-align: center;
	font-size: 43px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-left: 127px;
	position: relative;
}

#u2390-4
{
	z-index: 25;
	width: 428px;
	min-height: 34px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 266px;
	margin-top: 33px;
	position: relative;
}

#pu2391
{
	width: 0.01px;
	margin-left: 420px;
	margin-top: 27px;
}

#u2391
{
	z-index: 29;
	width: 15px;
	height: 16px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,10,-4);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,10,-4);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,10,-4);
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 53px;
	border-width: 0px 0px 5px 5px;
}

#u2392-4
{
	z-index: 30;
	width: 98px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	color: #3E3E3E;
	text-align: center;
	letter-spacing: 4px;
	line-height: 12px;
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 11px;
}

#u2393
{
	z-index: 34;
	width: 120px;
	height: 70px;
	position: relative;
	margin-right: -10000px;
}

.ie #u2393
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1773
{
	z-index: 11;
	width: 39px;
	height: 161px;
	margin-left: 460px;
	margin-top: 206px;
	margin-bottom: -61px;
}

#u1773:hover
{
	width: 39px;
	height: 161px;
	min-height: 0px;
	margin: 206px 0px -61px 460px;
}

#u1773:active
{
	width: 39px;
	height: 161px;
	min-height: 0px;
	margin: 206px 0px -61px 460px;
}

#pu1770
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u1770
{
	z-index: 2;
	min-height: 433.75px;
	padding-bottom: 0px;
}

#u1770_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 101px;
	padding-bottom: 230px;
}

#u1771-4
{
	z-index: 3;
	width: 325px;
	min-height: 45px;
	left: 418px;
}

#u1772-4
{
	z-index: 7;
	width: 517px;
	min-height: 32px;
	left: 322px;
	margin-top: 26px;
}

#u1770-bw
{
	z-index: 2;
	min-height: 433.75px;
}

#u1774
{
	z-index: 13;
	height: 39px;
	width: 38px;
	margin-right: -10000px;
	margin-top: 283px;
	left: 615px;
}

#u1778
{
	z-index: 16;
	height: 39px;
	width: 38px;
	margin-right: -10000px;
	margin-top: 283px;
	left: 565px;
}

#u2217
{
	z-index: 19;
	height: 39px;
	width: 38px;
	margin-right: -10000px;
	margin-top: 283px;
	left: 516px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

