.version.index /* version checker */
{
	color: #00001D;
	background-color: #8B48B7;
}

.html
{
	background-color: #F4F4F4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4649.924999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;
}

#u120
{
	z-index: 433;
	height: 57px;
	border-style: solid;
	border-color: #C9C9C9;
	background-color: #FFFFFF;
	position: fixed;
	top: -1px;
	border-width: 0px 0px 1px;
}

#u120-bw
{
	z-index: 433;
}

#u173-4
{
	z-index: 450;
	width: 100px;
	min-height: 57px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -345px;
}

#u173-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 100px;
	margin: 0px 0px 0px -345px;
}

#u173-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 100px;
	margin: 0px 0px 0px -345px;
	border-width: 0px 0px 4px;
}

#u172-4
{
	z-index: 446;
	width: 100px;
	min-height: 57px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -226px;
}

#u172-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 100px;
	margin: 0px 0px 0px -226px;
}

#u172-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 100px;
	margin: 0px 0px 0px -226px;
	border-width: 0px 0px 4px;
}

#top
{
	margin-left: 442px;
	margin-top: 1px;
	position: relative;
}

#pu168-4
{
	width: 0.01px;
	padding-bottom: 58px;
	margin-left: 605px;
	margin-top: -19px;
}

#u168-4
{
	z-index: 438;
	width: 100px;
	min-height: 57px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 125px;
}

#u168-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 100px;
	margin: 0px 0px 0px 125px;
}

#u168-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 100px;
	margin: 0px 0px 0px 125px;
	border-width: 0px 0px 4px;
}

#u182-4
{
	z-index: 442;
	width: 100px;
	min-height: 57px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 244px;
}

#u182-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 100px;
	margin: 0px 0px 0px 244px;
}

#u182-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 100px;
	margin: 0px 0px 0px 244px;
	border-width: 0px 0px 4px;
}

#u173-4.MuseLinkActive p,#u172-4.MuseLinkActive p,#u168-4.MuseLinkActive p,#u182-4.MuseLinkActive p
{
	color: #000000;
	visibility: inherit;
}

#u173-2,#u172-2,#u168-2,#u182-2
{
	padding-top: 21px;
}

#u157-4
{
	z-index: 434;
	width: 213px;
	min-height: 32px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -107px;
}

#u75
{
	z-index: 22;
	min-height: 901px;
	background: transparent url("../images/bck.jpg") no-repeat center bottom;
	background-size: cover;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 164px;
	padding-bottom: 267px;
}

#u88-9
{
	z-index: 23;
	width: 960px;
	min-height: 399px;
	background-color: transparent;
	text-align: center;
	color: #F4F4F4;
	letter-spacing: 1px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	left: 100px;
	position: relative;
}

#u88-2,#u88-3,#u88-5
{
	font-size: 70px;
	line-height: 77px;
}

#u88-7
{
	font-size: 49px;
	line-height: 54px;
}

#u2367
{
	z-index: 341;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	left: 100px;
	margin-top: 33px;
	position: relative;
}

#u1638
{
	z-index: 342;
	width: 15px;
	height: 16px;
	border-style: solid;
	border-color: #F4F4F4;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 470px;
	border-width: 0px 0px 5px 5px;
}

#u1639-4
{
	z-index: 343;
	width: 960px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	line-height: 12px;
	text-align: center;
	font-size: 11px;
	color: #FFFFFF;
	letter-spacing: 4px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u75-bw
{
	z-index: 22;
	min-height: 901px;
}

#u960
{
	z-index: 432;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #E5E5E5;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 57px;
}

#u960-bw
{
	z-index: 432;
}

#about
{
	margin-left: 467px;
	margin-top: 19px;
	position: relative;
}

#u203-4
{
	z-index: 32;
	width: 960px;
	min-height: 54px;
	background-color: transparent;
	line-height: 42px;
	margin-top: 86px;
	position: relative;
}

#pu205-19
{
	width: 0.01px;
	margin-left: 67px;
	margin-top: 37px;
}

#u205-19
{
	z-index: 60;
	width: 445px;
	min-height: 190px;
	background-color: transparent;
	line-height: 25px;
	text-align: left;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
}

#u2311
{
	z-index: 404;
	width: 317px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 511px;
}

#u2394-4
{
	z-index: 428;
	width: 317px;
	min-height: 105px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 10px;
	text-align: center;
	font-size: 8px;
	color: #42410B;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 511px;
}

#u2394-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 105px;
	width: 317px;
	margin: 8px -10000px 0px 0px;
}

#u2394-4:hover p
{
	color: #42410B;
	visibility: inherit;
	font-weight: normal;
	font-style: italic;
}

#u2368
{
	z-index: 410;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	margin-top: 37px;
	position: relative;
}

#u2369
{
	z-index: 411;
	width: 15px;
	height: 16px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 470px;
	border-width: 0px 0px 5px 5px;
}

#u2370-4
{
	z-index: 412;
	width: 960px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	line-height: 12px;
	text-align: center;
	font-size: 11px;
	color: #3E3E3E;
	letter-spacing: 4px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#pu220
{
	width: 0.01px;
	padding-bottom: 141px;
	margin-left: -1196px;
	margin-top: 15px;
}

#u220
{
	z-index: 21;
	min-height: 1113px;
	background-color: #FFFFFF;
}

#u220_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 66px;
	padding-bottom: 500px;
}

#projects
{
	left: 573px;
	position: relative;
}

#u1628-4
{
	z-index: 36;
	width: 960px;
	min-height: 52px;
	background-color: transparent;
	line-height: 42px;
	left: 100px;
	margin-top: 85px;
	position: relative;
}

#pu2337
{
	width: 0.01px;
	left: 120px;
	margin-top: 54px;
	position: relative;
}

#u2337
{
	z-index: 79;
	width: 277px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2337_img
{
	margin-bottom: -1px;
}

#u2326
{
	z-index: 85;
	width: 277px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 322px;
}

#u2326_img
{
	margin-right: -30px;
	margin-bottom: -33px;
}

#u2352
{
	z-index: 40;
	width: 277px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u2337_clip,#u2326_clip,#u2352_clip
{
	overflow: hidden;
	width: 277px;
	height: 275px;
}

#u2352_img
{
	margin-bottom: -2px;
}

#pu233-4
{
	width: 0.01px;
	left: 120px;
	margin-top: 7px;
	position: relative;
}

#u233-4
{
	z-index: 95;
	width: 277px;
	min-height: 50px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 13px;
	letter-spacing: 1px;
	color: #353535;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u238-4
{
	z-index: 99;
	width: 277px;
	min-height: 50px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 13px;
	letter-spacing: 1px;
	color: #353535;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 322px;
}

#u239-6
{
	z-index: 103;
	width: 277px;
	min-height: 50px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 13px;
	letter-spacing: 1px;
	color: #353535;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u239-2
{
	text-decoration: underline;
	font-style: italic;
}

#u220-bw
{
	z-index: 21;
	min-height: 1113px;
}

#u232-4
{
	z-index: 81;
	width: 250px;
	min-height: 27px;
	background-color: transparent;
	line-height: 25px;
	color: #F4F4F4;
	position: relative;
	margin-right: -10000px;
	margin-top: 515px;
	left: 1236px;
}

#u235-4
{
	z-index: 87;
	width: 250px;
	min-height: 27px;
	background-color: transparent;
	line-height: 25px;
	color: #F4F4F4;
	position: relative;
	margin-right: -10000px;
	margin-top: 515px;
	left: 1558px;
}

#u237-4
{
	z-index: 91;
	width: 250px;
	min-height: 27px;
	background-color: transparent;
	line-height: 25px;
	color: #F4F4F4;
	position: relative;
	margin-right: -10000px;
	margin-top: 515px;
	left: 1879px;
}

#pamphletu798
{
	z-index: 142;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 647px;
	left: 1488px;
}

#u805
{
	z-index: 143;
	width: 373px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -2px;
}

#u806
{
	position: absolute;
	width: 371px;
	border-style: none;
	background-color: transparent;
	top: 1px;
	left: 2px;
}

#u814-4
{
	z-index: 145;
	width: 355px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	text-align: center;
	letter-spacing: 3px;
	color: #3A3A3A;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u806:hover #u814-4
{
	background-color: #353535;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#u806.PamphletThumbSelected #u814-4
{
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

.Form
{
	border-width: 3px;
	border-style: solid;
	border-color: #353535;
	background-color: transparent;
}

#u806:hover #u814-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u806.PamphletThumbSelected #u814-4 p
{
	color: #3A3A3A;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u801
{
	position: absolute;
	width: 1047px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -26px;
	left: -1488px;
	-pie-background: rgba(191,191,191,0.85);
}

#u801popup
{
	z-index: 149;
}

#u802
{
	z-index: 150;
	width: 1001px;
	height: 587px;
	border-width: 1px;
	border-style: solid;
	border-color: #DBDBDB;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu831
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 112px;
	margin-left: 90px;
}

#u831
{
	z-index: 194;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u832-4
{
	z-index: 195;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u834-4
{
	z-index: 203;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u833-4
{
	z-index: 199;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u871
{
	z-index: 306;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u874-4
{
	z-index: 307;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u873-4
{
	z-index: 315;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u872-4
{
	z-index: 311;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u835
{
	z-index: 207;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u836-3
{
	z-index: 208;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u838-3
{
	z-index: 214;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u837-3
{
	z-index: 211;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u875
{
	z-index: 319;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u876-3
{
	z-index: 320;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u878-3
{
	z-index: 326;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u877-3
{
	z-index: 323;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pu847
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 112px;
	margin-left: 305px;
}

#u847
{
	z-index: 240;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u850-4
{
	z-index: 241;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u849-4
{
	z-index: 249;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u848-4
{
	z-index: 245;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u839
{
	z-index: 217;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u841-4
{
	z-index: 218;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u840-4
{
	z-index: 226;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u842-4
{
	z-index: 222;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u851
{
	z-index: 253;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u853-3
{
	z-index: 254;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u852-3
{
	z-index: 260;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u854-3
{
	z-index: 257;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u843
{
	z-index: 230;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u845-3
{
	z-index: 231;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u844-3
{
	z-index: 237;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u846-3
{
	z-index: 234;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pu863
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 112px;
	margin-left: 520px;
}

#u863
{
	z-index: 283;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u865-4
{
	z-index: 284;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u864-4
{
	z-index: 292;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u866-4
{
	z-index: 288;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u823
{
	z-index: 174;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u825-3
{
	z-index: 175;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u824-3
{
	z-index: 181;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u826-3
{
	z-index: 178;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u867
{
	z-index: 296;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u868-3
{
	z-index: 297;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u870-3
{
	z-index: 303;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u869-3
{
	z-index: 300;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u827
{
	z-index: 184;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u830-3
{
	z-index: 185;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u829-3
{
	z-index: 191;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u828-3
{
	z-index: 188;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pu815
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 112px;
	margin-left: 735px;
}

#u815
{
	z-index: 151;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u818-4
{
	z-index: 152;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u816-4
{
	z-index: 160;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u817-4
{
	z-index: 156;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u855
{
	z-index: 263;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u857-3
{
	z-index: 264;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u856-3
{
	z-index: 270;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u858-3
{
	z-index: 267;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u819
{
	z-index: 164;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u820-3
{
	z-index: 165;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u821-3
{
	z-index: 171;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u822-3
{
	z-index: 168;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u859
{
	z-index: 273;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 35px;
	position: relative;
}

#u860-3
{
	z-index: 274;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
}

#u862-3
{
	z-index: 280;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9E9E9E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u861-3
{
	z-index: 277;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u810
{
	position: absolute;
	width: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 46px;
	top: -3px;
	left: -607px;
}

#u811
{
	z-index: 330;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 92px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#cv-job
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1054px;
	left: 1665px;
}

#u2335-4
{
	z-index: 406;
	width: 629px;
	min-height: 53px;
	background-color: transparent;
	line-height: 44px;
	text-align: center;
	font-size: 37px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 746px;
	left: 1361px;
}

#u2371
{
	z-index: 416;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 856px;
	left: 1196px;
}

#u2372
{
	z-index: 417;
	width: 15px;
	height: 16px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 470px;
	border-width: 0px 0px 5px 5px;
}

#u2373-4
{
	z-index: 418;
	width: 960px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	line-height: 12px;
	text-align: center;
	font-size: 11px;
	color: #3E3E3E;
	letter-spacing: 4px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u223-6
{
	z-index: 42;
	width: 650px;
	min-height: 112px;
	background-color: transparent;
	line-height: 42px;
	margin-left: 155px;
	top: -98px;
	margin-bottom: -98px;
	position: relative;
}

#u227-12
{
	z-index: 48;
	width: 877px;
	min-height: 62px;
	background-color: transparent;
	line-height: 25px;
	margin-left: 41px;
	position: relative;
}

#ppamphletu240
{
	width: 0.01px;
	padding-bottom: 104px;
	margin-left: -1174px;
	margin-top: 21px;
}

#pamphletu240
{
	z-index: 109;
	width: 0.01px;
	height: 60px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 1523px;
}

#u245
{
	z-index: 110;
	width: 259px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u246
{
	position: absolute;
	width: 257px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 1px;
	top: 3px;
	left: 3px;
}

#u230-4
{
	z-index: 112;
	width: 241px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	text-align: center;
	letter-spacing: 3px;
	color: #474747;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u246:hover #u230-4
{
	background-color: #353535;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 241px;
	margin: -3px -10000px 0px 0px;
}

#u246.PamphletThumbSelected #u230-4
{
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 241px;
	margin: -3px -10000px 0px 0px;
}

#u246:hover #u230-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u246.PamphletThumbSelected #u230-4 p
{
	color: #3A3A3A;
	visibility: inherit;
	padding-top: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u814-2,#u230-2
{
	padding-top: 14px;
}

#u251
{
	position: absolute;
	width: 1026px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -313px;
	left: -1523px;
	-pie-background: rgba(191,191,191,0.85);
}

#u251popup
{
	z-index: 116;
}

#u254
{
	z-index: 117;
	width: 980px;
	height: 432px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u270
{
	z-index: 118;
	width: 641px;
	min-height: 432px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu2319-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 671px;
}

#u2319-4
{
	z-index: 135;
	width: 240px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u2318-8
{
	z-index: 127;
	width: 240px;
	min-height: 103px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u881-4
{
	z-index: 123;
	width: 240px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	margin-top: 18px;
	position: relative;
}

#u880-4
{
	z-index: 119;
	width: 240px;
	min-height: 103px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#u243
{
	position: absolute;
	width: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 45px;
	top: -306px;
	left: -653px;
}

#u810:hover,#u243:hover
{
	background-color: transparent;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u278
{
	z-index: 140;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 92px;
}

#u2048-10
{
	z-index: 347;
	width: 445px;
	min-height: 190px;
	background-color: transparent;
	line-height: 25px;
	text-align: left;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	left: 1194px;
}

#u2049-18
{
	z-index: 357;
	width: 445px;
	min-height: 190px;
	background-color: transparent;
	line-height: 25px;
	text-align: left;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	left: 1669px;
}

#u2049-16 > li:before
{
	content: '○';
}

#pu882
{
	width: 0.01px;
	margin-top: -56px;
}

#u882
{
	z-index: 336;
	width: 674px;
	height: 21px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 143px;
	border-width: 0px 0px 1px;
}

#u2374
{
	z-index: 422;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2375
{
	z-index: 423;
	width: 15px;
	height: 16px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 470px;
	border-width: 0px 0px 5px 5px;
}

#u2376-4
{
	z-index: 424;
	width: 960px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	line-height: 12px;
	text-align: center;
	font-size: 11px;
	color: #3E3E3E;
	letter-spacing: 4px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#contact
{
	margin-left: 458px;
	margin-top: 5px;
	position: relative;
}

#u1642-4
{
	z-index: 337;
	width: 960px;
	min-height: 52px;
	background-color: transparent;
	line-height: 42px;
	margin-top: 84px;
	position: relative;
}

#u2300-29
{
	z-index: 375;
	width: 877px;
	min-height: 62px;
	background-color: transparent;
	line-height: 25px;
	margin-left: 42px;
	margin-top: 68px;
	position: relative;
}

#u1773
{
	z-index: 11;
	width: 39px;
	height: 161px;
	margin-left: 460px;
	margin-top: 3px;
	margin-bottom: -61px;
}

#u1773:hover
{
	width: 39px;
	height: 161px;
	min-height: 0px;
	margin: 3px 0px -61px 460px;
}

#u1773:active
{
	width: 39px;
	height: 161px;
	min-height: 0px;
	margin: 3px 0px -61px 460px;
}

#pu1770
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u1770
{
	z-index: 2;
	min-height: 433.75px;
	padding-bottom: 0px;
}

#u1770_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 101px;
	padding-bottom: 230px;
}

#u1771-4
{
	z-index: 3;
	width: 325px;
	min-height: 45px;
	left: 418px;
}

#u1772-4
{
	z-index: 7;
	width: 517px;
	min-height: 32px;
	left: 322px;
	margin-top: 26px;
}

#u1770-bw
{
	z-index: 2;
	min-height: 433.75px;
}

#u1774
{
	z-index: 13;
	height: 39px;
	width: 38px;
	margin-right: -10000px;
	margin-top: 283px;
	left: 615px;
}

#u1778
{
	z-index: 16;
	height: 39px;
	width: 38px;
	margin-right: -10000px;
	margin-top: 283px;
	left: 565px;
}

#u2217
{
	z-index: 19;
	height: 39px;
	width: 38px;
	margin-right: -10000px;
	margin-top: 283px;
	left: 516px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

